In [ ]:
import pandas as pd

In [ ]:
#read data
df = pd.read_csv('df_product.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,Link,Name,Address,Price,Sold_num,Product
0,0,0.0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng sân cỏ nhân tạo mizuno Neo3 đế TF...,Hà Nội,₫650.000\n₫442.000,"Đã bán 2,2k",Giày Đá Bóng
1,1,1.0,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chuyên Nghiệp Cho Nam Và Nữ Size ...,Nước ngoài,₫401.594,Đã bán 309,Giày Đá Bóng
2,2,2.0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng Superfly 9 Air_Dòng ôm chân_may đ...,TP. Hồ Chí Minh,₫250.000\n₫158.600,"Đã bán 2,2k",Giày Đá Bóng
3,3,3.0,https://shopee.vn/(M%C3%99A-GI%C3%80Y-T%E1%BA%...,(MÙA GIÀY TẶNG TẤT XỊN )Giày đá Bóng Superfly ...,TP. Hồ Chí Minh,₫279.000\n₫237.150,Đã bán 153,Giày Đá Bóng
4,4,4.0,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chống Trượt Thoáng Khí Trọng Lượn...,Nước ngoài,₫445.805,Đã bán 62,Giày Đá Bóng

In [ ]:
# bỏ 2 cột dư
df.drop(['Unnamed: 0.1','Unnamed: 0'], axis = 1,inplace = True)

In [ ]:
df.head()

,Link,Name,Address,Price,Sold_num,Product
0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng sân cỏ nhân tạo mizuno Neo3 đế TF...,Hà Nội,₫650.000\n₫442.000,"Đã bán 2,2k",Giày Đá Bóng
1,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chuyên Nghiệp Cho Nam Và Nữ Size ...,Nước ngoài,₫401.594,Đã bán 309,Giày Đá Bóng
2,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng Superfly 9 Air_Dòng ôm chân_may đ...,TP. Hồ Chí Minh,₫250.000\n₫158.600,"Đã bán 2,2k",Giày Đá Bóng
3,https://shopee.vn/(M%C3%99A-GI%C3%80Y-T%E1%BA%...,(MÙA GIÀY TẶNG TẤT XỊN )Giày đá Bóng Superfly ...,TP. Hồ Chí Minh,₫279.000\n₫237.150,Đã bán 153,Giày Đá Bóng
4,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chống Trượt Thoáng Khí Trọng Lượn...,Nước ngoài,₫445.805,Đã bán 62,Giày Đá Bóng

In [ ]:
# bỏ các kí tự thừa trong giá tiền
l_price = df["Price"].apply(lambda x: x.replace('₫','',2).replace('.','',5))
l_price = l_price.apply(lambda x: x.split('\n'))
#l_price = l_price.apply(lambda x: )
l_price

0        [650000, 442000]
1                [401594]
2        [250000, 158600]
3        [279000, 237150]
4                [445805]
               ...
20935    [179000, 161100]
20936     [55000 - 57000]
20937      [36000, 18000]
20938             [40000]
20939      [7650 - 17000]
Name: Price, Length: 20940, dtype: object

In [ ]:
# tách giá trị của cột price thành 2 phần
for element in l_price.values:
  if len(element) == 2:
    pass
  else:
    element.append(element[0])
l_price

0                      [650000, 442000]
1                      [401594, 401594]
2                      [250000, 158600]
3                      [279000, 237150]
4                      [445805, 445805]
                      ...
20935                  [179000, 161100]
20936    [55000 - 57000, 55000 - 57000]
20937                    [36000, 18000]
20938                    [40000, 40000]
20939      [7650 - 17000, 7650 - 17000]
Name: Price, Length: 20940, dtype: object

In [ ]:
#lấy sold price và init price
sold_price = []
init_price = []
for index in range(len(l_price)):
  if l_price[index][0].find(' - ') != -1:
    sold_price.append(l_price[index][1].split(' - ')[1])
  else:
    sold_price.append(l_price[index][1])

  if l_price[index][1].find(' - ') != -1:
    init_price.append(l_price[index][0].split(' - ')[1])
  else:
    init_price.append(l_price[index][0])

In [ ]:
# thêm 2 cột vào data frame
df.insert(3,column = 'Sold_price', value = sold_price)
df.insert(4,column = 'Init_price', value = init_price)
df.head()

,Link,Name,Address,Sold_price,Init_price,Price,Sold_num,Product
0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng sân cỏ nhân tạo mizuno Neo3 đế TF...,Hà Nội,442000,650000,₫650.000\n₫442.000,"Đã bán 2,2k",Giày Đá Bóng
1,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chuyên Nghiệp Cho Nam Và Nữ Size ...,Nước ngoài,401594,401594,₫401.594,Đã bán 309,Giày Đá Bóng
2,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng Superfly 9 Air_Dòng ôm chân_may đ...,TP. Hồ Chí Minh,158600,250000,₫250.000\n₫158.600,"Đã bán 2,2k",Giày Đá Bóng
3,https://shopee.vn/(M%C3%99A-GI%C3%80Y-T%E1%BA%...,(MÙA GIÀY TẶNG TẤT XỊN )Giày đá Bóng Superfly ...,TP. Hồ Chí Minh,237150,279000,₫279.000\n₫237.150,Đã bán 153,Giày Đá Bóng
4,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chống Trượt Thoáng Khí Trọng Lượn...,Nước ngoài,445805,445805,₫445.805,Đã bán 62,Giày Đá Bóng

In [ ]:
#bỏ cột price
df.drop('Price',axis = 1, inplace = True)
df.head()

,Link,Name,Address,Sold_price,Init_price,Sold_num,Product
0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng sân cỏ nhân tạo mizuno Neo3 đế TF...,Hà Nội,442000,650000,"Đã bán 2,2k",Giày Đá Bóng
1,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chuyên Nghiệp Cho Nam Và Nữ Size ...,Nước ngoài,401594,401594,Đã bán 309,Giày Đá Bóng
2,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng Superfly 9 Air_Dòng ôm chân_may đ...,TP. Hồ Chí Minh,158600,250000,"Đã bán 2,2k",Giày Đá Bóng
3,https://shopee.vn/(M%C3%99A-GI%C3%80Y-T%E1%BA%...,(MÙA GIÀY TẶNG TẤT XỊN )Giày đá Bóng Superfly ...,TP. Hồ Chí Minh,237150,279000,Đã bán 153,Giày Đá Bóng
4,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chống Trượt Thoáng Khí Trọng Lượn...,Nước ngoài,445805,445805,Đã bán 62,Giày Đá Bóng

In [ ]:
# bỏ các kí tự rác trong cột sold_num
Sold_num = df['Sold_num'].apply(lambda x: str(x).replace(',','').replace('k','').replace('Đã bán ','').replace('nan',''))
df.drop('Sold_num',axis = 1, inplace = True)
df.insert(5,column = 'Sold_num', value = Sold_num)
df.head()

,Link,Name,Address,Sold_price,Init_price,Sold_num,Product
0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng sân cỏ nhân tạo mizuno Neo3 đế TF...,Hà Nội,442000,650000,22,Giày Đá Bóng
1,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chuyên Nghiệp Cho Nam Và Nữ Size ...,Nước ngoài,401594,401594,309,Giày Đá Bóng
2,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng Superfly 9 Air_Dòng ôm chân_may đ...,TP. Hồ Chí Minh,158600,250000,22,Giày Đá Bóng
3,https://shopee.vn/(M%C3%99A-GI%C3%80Y-T%E1%BA%...,(MÙA GIÀY TẶNG TẤT XỊN )Giày đá Bóng Superfly ...,TP. Hồ Chí Minh,237150,279000,153,Giày Đá Bóng
4,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chống Trượt Thoáng Khí Trọng Lượn...,Nước ngoài,445805,445805,62,Giày Đá Bóng

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20940 entries, 0 to 20939
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Link        20940 non-null  object
 1   Name        20940 non-null  object
 2   Address     20932 non-null  object
 3   Sold_price  20940 non-null  object
 4   Init_price  20940 non-null  object
 5   Sold_num    20940 non-null  object
 6   Product     20940 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [ ]:
#chuyển các cột về kiểu dữ liệu float
df['Sold_price'] = pd.to_numeric(df['Sold_price'])
df['Init_price'] = pd.to_numeric(df['Init_price'])
df['Sold_num'] = pd.to_numeric(df['Sold_num'])

In [ ]:
# tính discount của sản phẩm
discount = 1.0 - (df['Sold_price'] / df['Init_price'])

In [ ]:
#thêm cột discount vào data frame
df.insert(6,column = 'Discount', value = discount)
df.head()

,Link,Name,Address,Sold_price,Init_price,Sold_num,Discount,Product
0,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng sân cỏ nhân tạo mizuno Neo3 đế TF...,Hà Nội,442000,650000,22.0,0.3200,Giày Đá Bóng
1,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chuyên Nghiệp Cho Nam Và Nữ Size ...,Nước ngoài,401594,401594,309.0,0.0000,Giày Đá Bóng
2,https://shopee.vn/Gi%C3%A0y-%C4%91%C3%A1-b%C3%...,Giày đá bóng Superfly 9 Air_Dòng ôm chân_may đ...,TP. Hồ Chí Minh,158600,250000,22.0,0.3656,Giày Đá Bóng
3,https://shopee.vn/(M%C3%99A-GI%C3%80Y-T%E1%BA%...,(MÙA GIÀY TẶNG TẤT XỊN )Giày đá Bóng Superfly ...,TP. Hồ Chí Minh,237150,279000,153.0,0.1500,Giày Đá Bóng
4,https://shopee.vn/Gi%C3%A0y-%C4%90%C3%A1-Banh-...,Giày Đá Banh Chống Trượt Thoáng Khí Trọng Lượn...,Nước ngoài,445805,445805,62.0,0.0000,Giày Đá Bóng